body {
<<<<<<< HEAD
    color:red;
=======
    color:#33f;
>>>>>>> cabezera
    text-align: left;
    font-family: "Arial";
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
}
#cabezera
{
    background: #33f;
    color:white;
    margin:0;
    padding: 0.5em;
<<<<<<< HEAD
}
=======
}
>>>>>>> cabezera
